.header {
  margin-bottom: 2rem;
  font-size: 24px;
}

.questionContainer {
  margin-bottom: 1rem;
}

.question {
  margin-bottom: 0.5rem;
}

.radioInput {
  margin-right: 0.5rem;
  cursor: pointer;
}

.label {
  font-family: 'dp';
  cursor: pointer;
}
